@mixin ads-toolbar-theme($theme) {
  $primary: map-get($theme, primary);

  .ads-toolbar {
    background: var(--ads-toolbar-background, mat-color($primary));
    color: var(--ads-toolbar-text, mat-color($primary, default-contrast));
  }
}
