$ads-colors-primary: (
  50: var(--ads-primary-50),
  100: var(--ads-primary-100),
  200: var(--ads-primary-200),
  300: var(--ads-primary-300),
  400: var(--ads-primary-400),
  500: var(--ads-primary-500),
  600: var(--ads-primary-600),
  700: var(--ads-primary-700),
  800: var(--ads-primary-800),
  900: var(--ads-primary-900),
  A100: var(--ads-primary-A100),
  A200: var(--ads-primary-A200),
  A400: var(--ads-primary-A400),
  A700: var(--ads-primary-A700),
  contrast: (
    50: var(--ads-primary-contrast-50),
    100: var(--ads-primary-contrast-100),
    200: var(--ads-primary-contrast-200),
    300: var(--ads-primary-contrast-300),
    400: var(--ads-primary-contrast-400),
    500: var(--ads-primary-contrast-500),
    600: var(--ads-primary-contrast-600),
    700: var(--ads-primary-contrast-700),
    800: var(--ads-primary-contrast-800),
    900: var(--ads-primary-contrast-900),
    A100: var(--ads-primary-contrast-A100),
    A200: var(--ads-primary-contrast-A200),
    A400: var(--ads-primary-contrast-A400),
    A700: var(--ads-primary-contrast-A700)
  )
);

$ads-colors-accent: (
  50: var(--ads-accent-50),
  100: var(--ads-accent-100),
  200: var(--ads-accent-200),
  300: var(--ads-accent-300),
  400: var(--ads-accent-400),
  500: var(--ads-accent-500),
  600: var(--ads-accent-600),
  700: var(--ads-accent-700),
  800: var(--ads-accent-800),
  900: var(--ads-accent-900),
  A100: var(--ads-accent-A100),
  A200: var(--ads-accent-A200),
  A400: var(--ads-accent-A400),
  A700: var(--ads-accent-A700),
  contrast: (
    50: var(--ads-accent-contrast-50),
    100: var(--ads-accent-contrast-100),
    200: var(--ads-accent-contrast-200),
    300: var(--ads-accent-contrast-300),
    400: var(--ads-accent-contrast-400),
    500: var(--ads-accent-contrast-500),
    600: var(--ads-accent-contrast-600),
    700: var(--ads-accent-contrast-700),
    800: var(--ads-accent-contrast-800),
    900: var(--ads-accent-contrast-900),
    A100: var(--ads-accent-contrast-A100),
    A200: var(--ads-accent-contrast-A200),
    A400: var(--ads-accent-contrast-A400),
    A700: var(--ads-accent-contrast-A700)
  )
);

$ads-colors-warn: (
  50: var(--ads-warn-50),
  100: var(--ads-warn-100),
  200: var(--ads-warn-200),
  300: var(--ads-warn-300),
  400: var(--ads-warn-400),
  500: var(--ads-warn-500),
  600: var(--ads-warn-600),
  700: var(--ads-warn-700),
  800: var(--ads-warn-800),
  900: var(--ads-warn-900),
  A100: var(--ads-warn-A100),
  A200: var(--ads-warn-A200),
  A400: var(--ads-warn-A400),
  A700: var(--ads-warn-A700),
  contrast: (
    50: var(--ads-warn-contrast-50),
    100: var(--ads-warn-contrast-100),
    200: var(--ads-warn-contrast-200),
    300: var(--ads-warn-contrast-300),
    400: var(--ads-warn-contrast-400),
    500: var(--ads-warn-contrast-500),
    600: var(--ads-warn-contrast-600),
    700: var(--ads-warn-contrast-700),
    800: var(--ads-warn-contrast-800),
    900: var(--ads-warn-contrast-900),
    A100: var(--ads-warn-contrast-A100),
    A200: var(--ads-warn-contrast-A200),
    A400: var(--ads-warn-contrast-A400),
    A700: var(--ads-warn-contrast-A700)
  )
);

$mat-light-theme-foreground: map_merge(
  $mat-light-theme-foreground,
  (
    text: var(--ads-text, rgba(black, 0.6))
  )
);

$mat-light-theme-background: map_merge(
  $mat-light-theme-background,
  (
    background: var(--ads-background, #fafafa)
  )
);

$ads-primary-pallete: mat-palette($ads-colors-primary);
$ads-accent-pallete: mat-palette($ads-colors-accent, A200, A100, A400);
$ads-warn-pallete: mat-palette($ads-colors-warn);
